AI Receptionist (1).json
{
  "name": "AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ============================================\n// SCEFLOW AI — CHATBOT CODE NODE (v3)\n// Parses AI JSON response\n// ============================================\n\nconst input = $input.first().json;\n\n// ─── GET RAW AI OUTPUT ─────────────────────\nconst rawOutput = input.output  || \n                  input.text    || \n                  input.aiReply || '';\n\n// ─── PARSE JSON FROM AI ────────────────────\nlet parsed = {};\ntry {\n  // Remove markdown code blocks if present\n  const cleaned = rawOutput\n    .replace(/```json/gi, '')\n    .replace(/```/g, '')\n    .trim();\n  \n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // AI didn't return JSON — use raw as reply\n  parsed = {\n    reply: rawOutput,\n    extractedName: null,\n    extractedEmail: null,\n    intent: 'none'\n  };\n}\n\n// ─── INPUT VARIABLES ───────────────────────\nconst knownName    = input.knownName    || '';\nconst knownEmail   = input.knownEmail   || '';\nconst messageCount = parseInt(input.messageCount) || 0;\nconst userMessage  = input.userMessage  || '';\nconst sessionId    = input.sessionId    || '';\n\n// ─── EXTRACTED VALUES FROM AI ──────────────\nconst aiReply      = parsed.reply         || rawOutput;\nconst detectedName = parsed.extractedName  || null;\nconst detectedEmail= parsed.extractedEmail || null;\nconst detectedIntent= parsed.intent || 'none';\n\n// ─── FINAL MERGED VALUES ───────────────────\n// Keep existing known values if AI found nothing new\nconst finalName  = detectedName  || knownName  || null;\nconst finalEmail = detectedEmail || knownEmail || null;\n\n// ─── NEW CAPTURE FLAGS ─────────────────────\nconst newNameCaptured = !!(\n  detectedName &&\n  detectedName.toLowerCase() !== knownName.toLowerCase()\n);\n\nconst newEmailCaptured = !!(\n  detectedEmail &&\n  detectedEmail.toLowerCase() !== knownEmail.toLowerCase()\n);\n\nconst shouldUpdateSheet = newNameCaptured || newEmailCaptured;\n\n// ─── STATUS ────────────────────────────────\nlet status = 'Browsing';\nif (finalEmail)            status = 'Lead Captured';\nelse if (finalName)        status = 'Name Captured';\nelse if (messageCount > 2) status = 'Engaged';\n\n// ─── OUTPUT ────────────────────────────────\nreturn [{\n  json: {\n    ...input,\n\n    // Clean AI reply for chat widget\n    aiReply,\n\n    // Name and email\n    extractedName:        finalName,\n    extractedEmail:       finalEmail,\n    detectedName:         detectedName,\n    detectedEmail:        detectedEmail,\n    intent:               detectedIntent,\n\n    // Flags for IF nodes\n    newNameCaptured,\n    newEmailCaptured,\n    shouldUpdateSheet,\n\n    // Updated values\n    updatedMessageCount:  $('Execute a SQL query1').first().json.message_count + 1,\n    knownName:            finalName  || knownName,\n    knownEmail:           finalEmail || knownEmail,\n    status,\n    sessionId,\n    userMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -96
      ],
      "id": "65b3d5c2-1123-423b-b061-6c85550e6e64",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c6ecca8-9e93-4a96-adfd-b23023f37694",
              "name": "isKnown",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "700e19da-413e-4246-a7e2-06ea9d203713",
              "name": "sessionFound",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "441f15b0-c4f0-45c3-bcd9-dfd0c8a6ece6",
              "name": "knownName",
              "value": "={{ $('When Executed by Another Workflow').item.json.name || \"\" }}",
              "type": "string"
            },
            {
              "id": "ec27482e-1b6d-416b-887d-69baeef538b5",
              "name": "knownEmail",
              "value": "={{ $('When Executed by Another Workflow').item.json.email || \"\" }}",
              "type": "string"
            },
            {
              "id": "2a2a9341-7aa9-4945-8186-dde95a467005",
              "name": "hasName",
              "value": "={{ $('When Executed by Another Workflow').item.json.name ? true : false }}",
              "type": "string"
            },
            {
              "id": "e5f63c91-61d0-469c-bcd6-5be287b1d483",
              "name": "hasEmail",
              "value": "={{ $('When Executed by Another Workflow').item.json.email ? true : false }}",
              "type": "string"
            },
            {
              "id": "d76bae70-ccee-4209-b310-a2d78f6ef672",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -192
      ],
      "id": "4e743e37-c1d8-41c6-9279-ffdf488a376f",
      "name": "Known person"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "987b75c8-cd8e-4dcb-adf4-b612ae3e252f",
              "name": "isKnown",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b8ced174-ef9e-44c0-b188-0e9166724fdf",
              "name": "sessionFound",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "2db29250-c435-4590-abf2-06c76cfdf3fb",
              "name": "knownName",
              "value": "\"\"",
              "type": "string"
            },
            {
              "id": "fea61cfd-4344-4583-9f5b-c996eebc8e51",
              "name": "knownEmail",
              "value": "\"\"",
              "type": "string"
            },
            {
              "id": "293cda9e-708c-4605-82ff-1ae652ca3419",
              "name": "hasName",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bf77cf90-9efd-4b28-8818-d9c37f70b53a",
              "name": "hasEmail",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        48
      ],
      "id": "93f05c98-1cd5-4a94-8305-a1c0d2ce4e0f",
      "name": "Unknown person"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "012b1e57-129f-44f3-ae60-56f4a5227b3e",
              "leftValue": "={{ $('Code in JavaScript').item.json.shouldUpdateSheet }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        -96
      ],
      "id": "ff7675d8-c973-4c32-a6fd-3475fdf0f752",
      "name": "If #2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa844c03-e6d6-4a77-bfe6-59908a7ebe59",
              "leftValue": "={{ $json.contact_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -80
      ],
      "id": "3ccf254b-acf6-451d-9d18-d664177b647e",
      "name": "If #1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81071e44-5e5a-4638-8f30-7a4e6c131b48",
              "leftValue": "={{ $('Code in JavaScript').item.json.newEmailCaptured }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2992,
        -240
      ],
      "id": "cd4bee7f-1e35-4a2f-b0d9-2ecdd3d3c37a",
      "name": "If #3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('Code in JavaScript').item.json.aiReply }}",
            "role": "ai_assistant",
            "agent_name": "reception_agent",
            "session_id": "={{ $('When Executed by Another Workflow').item.json.session_id }}",
            "contact_id": "={{ $json.contact_id }}",
            "message_count": "={{ $json.message_count }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_count",
              "displayName": "message_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2304,
        112
      ],
      "id": "ba6e627f-bbe5-4d98-b0e1-e3db4b655970",
      "name": "Insert in conversation #2",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (\n    session_id,\n    source\n)\nVALUES (\n    $1,\n    'chat_widget'\n)\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $('When Executed by Another Workflow').item.json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        48
      ],
      "id": "a99f922d-ea3d-4aa0-a00d-7ddbf4e85495",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('When Executed by Another Workflow').item.json.session_id }}",
            "name": "={{ $('Code in JavaScript').item.json.extractedName }}",
            "email": "={{ $('Code in JavaScript').item.json.extractedEmail }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_stage",
              "displayName": "qualification_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_agent",
              "displayName": "assigned_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_seen",
              "displayName": "first_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_interaction",
              "displayName": "last_interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2800,
        -240
      ],
      "id": "f310550a-60fc-4210-91b6-b8d060fba349",
      "name": "Update the contact",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Context\nVisitor name: {{ $('Edit Fields2').item.json.visitor_name }}\nVisitor email: {{ $('Edit Fields2').item.json.visitor_email }}\nReturning visitor: {{ $('Edit Fields2').item.json['returning _visitor'] }}\nName collected: {{ $('Edit Fields2').item.json.name_collected }}\nEmail collected: {{ $('Edit Fields2').item.json.email_collected }} \nMesasage: {{ $('When Executed by Another Workflow').item.json.message }}\nMessage Count: {{ $json.message_count || null }}",
        "options": {
          "systemMessage": "=## Overview\n\nYou are a friendly AI receptionist for an AI automation agency named \"Sceflow AI\".\n\nYour tasks:\n\n1. Reply naturally to the user's message.\n2. Extract the person's name if mentioned.\n3. Extract the person's email if mentioned.\n4. Detect the user's intent.\n5. Keep replies short, conversational, and human.\n6. Never sound robotic, overly formal, or like an AI assistant.\n7. If the user provides a name or email, acknowledge it naturally.\n8. If the name or email is not present, return an empty string.\n9. If 'Message Count' is 2 or greater than 2 and the visitor's name or email is also missing, politely ask for the missing information at once (means, ask the name and email both at once). If both name and email are already known, do not ask again. Keep it natural and relevant to the conversation.\n10. If the user shows clear interest in working together or booking a call, set intent to \"book_call\".\n\n---\n\n## Intent Rules\n\nPossible intents:\n\n* book_call\n* pricing_question\n* general_question\n* objection\n* none\n\nUse \"book_call\" when the user says things like:\n\n* \"Let's book a call\"\n* \"Can we schedule a meeting?\"\n* \"How can we work together?\"\n* \"I'd like to discuss this further\"\n* \"Can you send your calendar?\"\n* \"I want to get started\"\n* \"Let's talk\"\n\nUse \"pricing_question\" when asking about cost, pricing, packages, or fees.\n\nUse \"objection\" when expressing hesitation, concerns, or doubts.\n\nUse \"general_question\" for normal business-related questions.\n\nUse \"none\" if no clear intent is detected.\n\n---\n\n## Instructions\n\n* Respond as if chatting with a real person.\n* Keep replies under 3 sentences whenever possible.\n* Use emojis naturally when appropriate.\n* Do not overuse emojis.\n* Do not use phrases like:\n\n  * \"I'd be happy to assist.\"\n  * \"Thank you for reaching out.\"\n  * \"How may I help you today?\"\n* Sound friendly and relaxed.\n* Extract only information explicitly mentioned by the user.\n* If unsure about a name or email, leave it empty.\n* Never invent information.\n* Return valid JSON only.\n* Do not include markdown.\n* Do not include explanations.\n* Do not include code fences.\n\n---\n\n## Output Format\n\n{\n\"reply\": \"...\",\n\"extractedName\": \"...\",\n\"extractedEmail\": \"...\",\n\"intent\": \"...\"\n}\n\n---\n\n## Examples\n\nUser:\n\"Hi, my name is John Smith\"\n\nOutput:\n{\n\"reply\": \"Nice to meet you, John 😊 What can I help you with today?\",\n\"extractedName\": \"John Smith\",\n\"extractedEmail\": \"\",\n\"intent\": \"none\"\n}\n\nUser:\n\"My email is [johnsmith@gmail.com](mailto:johnsmith@gmail.com)\"\n\nOutput:\n{\n\"reply\": \"Got it, thanks for sharing that 😊 What would you like help with?\",\n\"extractedName\": \"\",\n\"extractedEmail\": \"[johnsmith@gmail.com](mailto:johnsmith@gmail.com)\",\n\"intent\": \"none\"\n}\n\nUser:\n\"How much does something like this usually cost?\"\n\nOutput:\n{\n\"reply\": \"Pricing depends on the complexity of the workflow. What are you looking to automate?\",\n\"extractedName\": \"\",\n\"extractedEmail\": \"\",\n\"intent\": \"pricing_question\"\n}\n\nUser:\n\"I'm interested. Can we schedule a call?\"\n\nOutput:\n{\n\"reply\": \"Absolutely 😊 Let me get that arranged for you.\",\n\"extractedName\": \"\",\n\"extractedEmail\": \"\",\n\"intent\": \"book_call\"\n}\n\nUser:\n\"I'm not sure if this would work for my business.\"\n\nOutput:\n{\n\"reply\": \"That's completely fair. What type of business are you running?\",\n\"extractedName\": \"\",\n\"extractedEmail\": \"\",\n\"intent\": \"objection\"\n}\n\nUser:\n\"Can you help me?\"\n\nOutput:\n{\n\"reply\": \"Absolutely. Tell me a little about what you're trying to achieve 😊\",\n\"extractedName\": \"\",\n\"extractedEmail\": \"\",\n\"intent\": \"general_question\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        -96
      ],
      "id": "93424bba-a060-4833-b169-c859100a7442",
      "name": "Reception AI agent"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "lead_qualification",
          "mode": "list",
          "cachedResultName": "lead_qualification"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "qualified": false,
            "lead_score": 0,
            "contact_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "biggest_challenge",
              "displayName": "biggest_challenge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_revenue",
              "displayName": "monthly_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "monthly_leads",
              "displayName": "monthly_leads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget",
              "displayName": "budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "goal",
              "displayName": "goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_notes",
              "displayName": "qualification_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualified",
              "displayName": "qualified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_temperature",
              "displayName": "lead_temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        48
      ],
      "id": "d30a3be6-a643-4f91-9ae1-6b8c72eda405",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.session_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1872,
        80
      ],
      "id": "d10d8436-2ea2-440e-b506-fd8c1602727e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"message\": \"{{ $json.message }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"contact_id\": \"{{ $json.contact_id }}\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        -80
      ],
      "id": "e89e4c86-e3a4-4eee-b87c-8077150f11bc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8887119b-1c78-4413-aa02-d134473785e3",
              "name": "reply",
              "value": "={{ $('Code in JavaScript').item.json.aiReply }}",
              "type": "string"
            },
            {
              "id": "f34aed39-7e3b-4584-a608-8e5080ca0a2b",
              "name": "contact_id",
              "value": "={{ $('Insert in conversation').item.json.contact_id }}",
              "type": "string"
            },
            {
              "id": "d3f67edb-2422-4c00-bff0-35bc5afff80e",
              "name": "session_id",
              "value": "={{ $('Insert in conversation').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "6abe9b77-2950-44a6-9f6d-876ce0b260eb",
              "name": "intent",
              "value": "={{ $('Code in JavaScript').item.json.intent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        -80
      ],
      "id": "5bc4797f-7bfe-4fc4-8599-9a2dafb65408",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('When Executed by Another Workflow').item.json.session_id }}",
            "role": "user",
            "message": "={{ $('When Executed by Another Workflow').item.json.message }}",
            "agent_name": "null",
            "contact_id": "={{ $('Edit Fields2').item.json.contact_id }}",
            "message_count": "={{ $json.updatedMessageCount }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_count",
              "displayName": "message_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2256,
        -96
      ],
      "id": "6417794c-8cfb-4e55-9c71-fe061c199934",
      "name": "Insert in conversation",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM conversations\nWHERE contact_id = $1\nORDER BY id DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.contact_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1584,
        -96
      ],
      "id": "7e1c0dde-9520-4424-a621-78f6cf1545e2",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f86ebefd-878c-4a1a-930d-98aec1e12cb9",
              "name": "contact_id",
              "value": "={{ $('Execute a SQL query').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        48
      ],
      "id": "cd19ae2b-1b84-4fb7-ae47-17d916707b67",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "186ca45f-af85-49ef-9b9b-ce20eb09c561",
              "name": "contact_id",
              "value": "={{ $json.contact_id }}",
              "type": "string"
            },
            {
              "id": "b83f459d-d77d-4438-b6c9-2aeb9ab881ba",
              "name": "visitor_name",
              "value": "={{ $json.knownName || \"Not provided\" }}",
              "type": "string"
            },
            {
              "id": "bde74c3b-f246-403c-8a1a-26a6743e9d52",
              "name": "visitor_email",
              "value": "={{ $json.knownEmail || \"Not provided\" }}",
              "type": "string"
            },
            {
              "id": "d59d4216-374f-4988-b293-4f3b6b97cdef",
              "name": "returning _visitor",
              "value": "={{ $json.isKnown || \"No\" }}",
              "type": "string"
            },
            {
              "id": "1ac57bdf-a1cb-4025-a233-1c08cc3794a1",
              "name": "name_collected",
              "value": "= {{ $json.hasName || false }}",
              "type": "string"
            },
            {
              "id": "3db44d4a-ff31-44cf-aa97-def428ba638b",
              "name": "email_collected",
              "value": "={{ $json.knownEmail || false }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -96
      ],
      "id": "390c3609-07a5-4e23-bad9-1ef8a865f247",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1712,
        96
      ],
      "id": "2a2b921c-a019-44c0-906f-4975ef29b806",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t9tmUH44mB3YIzA9",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select *\nfrom conversations\nwhere contact_id = $1",
        "options": {
          "queryReplacement": "19"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2208,
        288
      ],
      "id": "dee45900-86c5-421d-b8c9-73ccaf152ac4",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert in conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Known person": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown person": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If #2": {
      "main": [
        [
          {
            "node": "Update the contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If #1": {
      "main": [
        [
          {
            "node": "Known person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknown person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If #3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert in conversation #2": {
      "main": [
        [
          {
            "node": "If #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the contact": {
      "main": [
        [
          {
            "node": "If #3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reception AI agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Reception AI agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If #1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert in conversation": {
      "main": [
        [
          {
            "node": "Insert in conversation #2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Reception AI agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Reception AI agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b12e5b0c-63ae-4c27-832b-971d0875a9cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed237ba222bdd22fb1ef66cb3d92930cfb9a9efa4227823e1079f5e4b221bbca"
  },
  "id": "Z2ls2WT83Syd6Iqo",
  "tags": []
}