Main workflow.json
{
  "name": "Main workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CRM",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1168,
        -32
      ],
      "id": "820eee70-bae6-4ddb-976d-06c02ecbe7a2",
      "name": "Webhook",
      "webhookId": "61e62559-7867-4006-80d6-402f1b19ae1a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb7692b8-d706-4912-bbf5-f44ba0f3d53b",
              "name": "session_id",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "dd46de63-e8e1-462e-9660-7628981d461e",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        -32
      ],
      "id": "3befad28-9474-48dd-a570-8d69ea37e0bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM contacts\nWHERE session_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        -32
      ],
      "id": "b2d10f90-f252-49ce-a729-e5d770ca69c4",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "460187c9-1f37-4873-85ef-3956ca84d928",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "89c3d308-2d11-42cb-bf63-b286020ffab3",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "23d0418e-cd6a-4570-b4df-d4eafecada38",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        -32
      ],
      "id": "534915a0-f753-4533-b768-72f4198229f6",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Z2ls2WT83Syd6Iqo",
          "mode": "list",
          "cachedResultUrl": "/workflow/Z2ls2WT83Syd6Iqo",
          "cachedResultName": "AI Receptionist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Webhook').item.json.body.sessionId }}",
            "message": "={{ $('Webhook').item.json.body.message }}",
            "name": "={{ $('Execute a SQL query').item.json.name }}",
            "email": "={{ $('Execute a SQL query').item.json.email }}",
            "contact_id": "={{ $('Execute a SQL query').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -352,
        64
      ],
      "id": "a9fa233c-69c0-4e29-af90-45fe8cda6dd1",
      "name": "Call 'AI Receptionist'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM lead_qualification\nWHERE contact_id = $1\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Execute a SQL query').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        -128
      ],
      "id": "e0045fbd-bbb2-4f5e-9126-4b6e5075cdad",
      "name": "Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute a SQL query').item.json.qualification_stage }}",
                    "rightValue": "qualified",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "60238041-d748-4abc-9001-d02fbd605081"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4372f445-3a57-482c-9fed-aa160a361564",
                    "leftValue": "={{ $json.qualified }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        -224
      ],
      "id": "e6502a96-1e73-4692-87f2-7d65a76191eb",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d1fUZOSiG8LVXREe",
          "mode": "list",
          "cachedResultUrl": "/workflow/d1fUZOSiG8LVXREe",
          "cachedResultName": "Lead qualification workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_id": "={{ $('Execute a SQL query').item.json.id }}",
            "session_id": "={{ $('Execute a SQL query').item.json.session_id }}",
            "message": "={{ $('Edit Fields').item.json.message }}",
            "qualification_stage": "={{ $('Execute a SQL query').item.json.qualification_stage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "qualification_stage",
              "displayName": "qualification_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        -384
      ],
      "id": "d3b84b6e-f45d-4abe-83c1-d91775c4cfd8",
      "name": "Call 'Lead qualification workflow'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zjyDBxeReXRHHCBl",
          "mode": "list",
          "cachedResultUrl": "/workflow/zjyDBxeReXRHHCBl",
          "cachedResultName": "Lead scoring agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_id": "={{ $('Execute a SQL query').item.json.id }}",
            "session_id": "={{ $('Webhook').item.json.body.sessionId }}"
          },
          "matchingColumns": [
            "contact_id"
          ],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        -192
      ],
      "id": "f7ccc60b-4b32-4fa3-8633-897e05eaff86",
      "name": "Call 'Lead scoring agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "riHRcHmcTFDSTP1E",
          "mode": "list",
          "cachedResultUrl": "/workflow/riHRcHmcTFDSTP1E",
          "cachedResultName": "Booking workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_id": "={{ $('Execute a SQL query').item.json.id }}",
            "lead_score": "={{ $('Execute a SQL query1').item.json.lead_score }}",
            "lead_temperature": "={{ $('Execute a SQL query1').item.json.lead_temperature }}",
            "session_id": "={{ $('Webhook').item.json.body.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_temperature",
              "displayName": "lead_temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "f7dca8f8-e4f0-4e00-bfe7-826c296bb0c0",
      "name": "Call 'Booking workflow'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        64
      ],
      "id": "5ff7fc27-6da6-4254-bf05-f5e0d8367c53",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "df82fe6a-7bd4-4b54-9af7-c0c16ed3fb8a",
              "leftValue": "={{ $json.qualified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "4d47c26b-c37f-4ae3-8ac5-f7cbbfa58e95",
              "leftValue": "={{ $json.lead_score }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -144
      ],
      "id": "d19ef787-8bf6-4ad5-ab5d-9bec3957468b",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf3df598-be36-4ef5-bc7f-3606ade7b670",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "book_call",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "98ea9547-a1f0-4785-909d-c2b27e6f3d1b",
              "leftValue": "={{ $('Execute a SQL query').item.json.qualification_stage }}",
              "rightValue": "qualified",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        64
      ],
      "id": "be1866ca-ee7a-45b3-83f6-73ca24d03f5e",
      "name": "If2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'AI Receptionist'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AI Receptionist'": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Lead qualification workflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Lead qualification workflow'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Lead scoring agent'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Booking workflow'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Call 'AI Receptionist'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Lead scoring agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Call 'Booking workflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ad763e27-b11a-4b1e-bd25-251c326fd91a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed237ba222bdd22fb1ef66cb3d92930cfb9a9efa4227823e1079f5e4b221bbca"
  },
  "id": "Xz27jbu4SQEj2lfY",
  "tags": []
}