workflows/booking-agent.json
{
  "name": "Booking workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"contact_id\": \"{{ $json.contact_id }}\",\n  \"lead_score\": \"{{ $json.lead_score }}\",\n  \"lead_temperature\": \"{{ $json.lead_temperature }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        -48
      ],
      "id": "0bd8d368-3083-4a0f-9550-3bab05aa43bd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\nid,\nname,\nemail\nFROM contacts\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $json.contact_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        -48
      ],
      "id": "616e5cac-c815-4744-b4dd-851b6b685eef",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Lead Information\n\nName:\n{{ $('Execute a SQL query').item.json.name }}\n\nBusiness Type:\n{{ $json.business_type }}\n\nChallenge:\n{{ $json.biggest_challenge }}\n\nLead Score:\n{{ $json.lead_score }}",
        "options": {
          "systemMessage": "=## Overview\n\nYou are a booking agent for an AI automation agency.\n\nThe lead has already been qualified and scored.\n\nYour goal is to invite them to book a call.\n\nKeep the message short.\n\nKeep it conversational.\n\nDo not sound like a salesperson.\n\nDo not use hype.\n\nMention only one call-to-action.\n\nHere is the booking link - \"https://cal.com/sceflow-ai/30min\"\n\nReturn JSON only.\n\n## Output Format\n\n{\n  \"booking_message\":\"\"\n}\n\n## Example\n\n{\n  \"booking_message\":\"Based on what you've shared, I think we could help. Feel free to grab a time that works best for you:\n\nhttps://cal.com/YOUR-USERNAME/discovery-call\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -48
      ],
      "id": "d7b4b9e3-3eda-4be5-b69b-965b06fdbcd3",
      "name": "AI Booking agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\nbusiness_type,\nbiggest_challenge,\nmonthly_revenue,\ngoal,\nbudget,\nlead_score\nFROM lead_qualification\nWHERE contact_id = $1;",
        "options": {
          "queryReplacement": "={{ $('When Executed by Another Workflow').item.json.contact_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        -48
      ],
      "id": "19a775fa-4ba9-4dfc-a286-922a1e55c695",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($json.output);\n\nreturn [\n{\njson: {\ncontact_id: $('When Executed by Another Workflow').first().json.contact_id,\n\nreply:\nparsed.booking_message\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -48
      ],
      "id": "5cd3a18a-d703-4bef-9817-ad079c31d8ec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29d75474-a1d2-4525-b6ea-ea0c92d4a08a",
              "name": "reply",
              "value": "={{ $('Code in JavaScript').item.json.reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -48
      ],
      "id": "c36c125f-1731-4c4e-9aad-d7573f410154",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').item.json.contact_id }}",
            "status": "booking_invited"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qualification_stage",
              "displayName": "qualification_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_agent",
              "displayName": "assigned_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_seen",
              "displayName": "first_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_interaction",
              "displayName": "last_interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -48
      ],
      "id": "6c928f91-d2b8-4481-a9cd-3d9b76e8ed52",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        144
      ],
      "id": "f6319c49-6a70-46de-9c70-e3a558b26cb6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "whE6KLqx3CM9I3rq",
          "name": "Lead qualification"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        144
      ],
      "id": "96aab567-8a4b-4ddf-8932-c1a6ca9eefa6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t9tmUH44mB3YIzA9",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "AI Booking agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Booking agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Booking agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Booking agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1c47d83d-3d55-450c-9d02-3d36828e281d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed237ba222bdd22fb1ef66cb3d92930cfb9a9efa4227823e1079f5e4b221bbca"
  },
  "id": "riHRcHmcTFDSTP1E",
  "tags": []
}
